<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuclearfoxes.codequiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".registration.RegistrationActivity"></activity>
        <activity
            android:name=".startup.LauncherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_launcher"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.tests.CustomTestActivity" />
        <activity android:name=".result.ResultActivity" />
        <activity
            android:name=".quiz.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>